/* You can add global styles to this file, and also import other style files */
/* src/styles.css */
@import 'bootstrap/dist/css/bootstrap.min.css';

.card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}
.animated-card {
  background-color: #f8f9fa;
  transition: background-color 0.4s ease, transform 0.3s ease;
}
.animated-card:hover {
  background-color: #ddfaea;
  transform: translateY(-4px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

